
html {
  background-color: rgb(216,219,226);
}

a:hover {
  cursor: pointer;
}

a, a:visited {
  color: blue;
  text-decoration: none;
}

.dark a, .dark a:visited {
  color: rgb(138,138,255);
  text-decoration: none;
}

div #main {
  font-family: 'Raleway', sans-serif;
}

div #content {
  padding: 0;
}

div .section {
  background-color: rgb(216,219,226);
  padding-left: 5%;
  padding-right: 5%;
}

div .content-pane {
  text-align: center;
  padding: 0;
  padding-bottom: 50px;
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 960px;
}

.headerRectangle {
  position: fixed;
  stroke-width: 0px;
  /*overflow: none;*/
  transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
}

.headerRectangle::before {
}

.headerText, .headerImage, .headerIcons, .headerQuote, .headerLinks, .headerLogo {
  position: fixed;
  color: white;
}

.headerLogo img {
  position: fixed;
}

.headerText h1 {
  display: block;
  text-align: center;
  font-size: 4.5em;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: 0px;
}

.headerText p {
  font-size: 1.3em;
  text-align: center;
  font-variant: small-caps;
}

.headerImage img {
  position: fixed;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.headerIcons {
  position: fixed;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.headerQuote {
  position: fixed;
  margin: 0 auto;
  padding: 5px;
  /*left: 0;*/
  /*right: 0;*/
  text-align: center;
  width: 600px;
  line-height: 1.6;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -.1rem;
  overflow-x: hidden;
}

.headerLinks > a {
  color: white;
  text-decoration: none;
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerLinks > a.active {
  font-weight: bold;
}

a.icon {
    color: #fff;
    padding: 10px;
}

.filterRow {
  padding: 10px;
  overflow-x: auto;
}

a.filterButton {
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  color: #fff;
  background-color: rgb(64, 78, 104);
  border-color: rgb(64, 78, 104);
  height: 35px;
  text-transform: uppercase;
  text-align: center;
}

a.filterButton.active {
  background-color: rgb(142, 163, 190);
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 20%; /* 20% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 60px;
}

/*@media all and (max-width: 1024px) {
  .headerRectangle, .headerLinks {
    transform: none !important;
  }
}*/

table {
  border-collapse: collapse;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
}

tr {
  border-bottom: black 1px solid;

}

td {
  padding: 12px 15px;
}
