
html {
  background-color: rgb(216,219,226);
}

div #content {
  padding-top: 60px;
  min-height: 1000px;
}

.headerRectangle {
  position: fixed;
  stroke-width: 0px;
  /*overflow: none;*/
  transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
}

.headerRectangle::before {
}

.headerText, .headerImage, .headerIcons, .headerLinks, .headerLogo {
  position: fixed;
  color: white;
}

.headerLogo img {
  position: fixed;
}

.headerText h1 {
  display: block;
  text-align: center;
  font-size: 4.5em;
  font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: 0px;
}

.headerText p {
  font-size: 1.4em;
  text-align: center;
  font-variant: small-caps;
}

.headerImage img {
  position: fixed;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.headerIcons {
  position: fixed;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

a.icon {
    color: #fff;
    padding: 5px;
}

/*@media all and (max-width: 1024px) {
  .headerRectangle, .headerLinks {
    transform: none !important;
  }
}*/
