
html {
  background-color: rgb(216,219,226);
}

div #main {
  font-family: 'Raleway', sans-serif;
}

div #content {
  padding-left: 50px;
  padding-right: 50px;
  min-height: 1000px;
}

.headerRectangle {
  position: fixed;
  stroke-width: 0px;
  /*overflow: none;*/
  transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
}

.headerRectangle::before {
}

.headerText, .headerImage, .headerIcons, .headerQuote, .headerLinks, .headerLogo {
  position: fixed;
  color: white;
}

.headerLogo img {
  position: fixed;
}

.headerText h1 {
  display: block;
  text-align: center;
  font-size: 4.5em;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: 0px;
}

.headerText p {
  font-size: 1.3em;
  text-align: center;
  font-variant: small-caps;
}

.headerImage img {
  position: fixed;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.headerIcons {
  position: fixed;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.headerQuote {
  position: fixed;
  margin: 0 auto;
  padding: 5px;
  /*left: 0;*/
  /*right: 0;*/
  text-align: center;
  width: 600px;
  line-height: 1.6;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -.1rem;
  overflow-x: hidden;
}

.headerLinks > a {
  color: white;
  text-decoration: none;
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

a.icon {
    color: #fff;
    padding: 10px;
}

/*@media all and (max-width: 1024px) {
  .headerRectangle, .headerLinks {
    transform: none !important;
  }
}*/
